[Unit]
Description=QBitcoin address notification service for %I
After=qbitcoind.service
BindsTo=qbitcoind.service

[Service]
ExecStart=/usr/local/bin/qbitcoin-notify --config=/etc/qbtc-notify-%i.conf
User=qbitcoin
Group=qbitcoin
ProtectSystem=full
PrivateTmp=true
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
