.Transactions {
  margin-top: 40px;
  border-radius: 8px;
  box-shadow: var(--stats-box-shadow);
  background-color: var(--stats-bg-color);
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.headerTitle {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.empty {
  text-align: center;
  margin-top: 20px;
}
