.QrScannerPage {
  max-width: 1200px;
  min-height: 500px;
  height: 100%;
  margin: 0 auto;
  position: relative;

  @media (max-width: 426px) {
    width: 100%;
  }
}

.video {
  width: 100%;
  min-height: 500px;
  height: 100%;
  object-fit: cover;
}

.cancel {
  margin: 0 auto;
}
