.app_light_theme {
  --bg-color-primary: #fff;
  --bg-color-secondary: #fff;
  --bg-color-tertiary: #f9fafb;

  --sub-nav-bg-color: #F5F5F5;
  --sub-nav-box-shadow-color: #D3D3D3;

  --text-color-primary: #15181C;
  --text-color-secondary: #78838e;

  --link-color: #1187C1;

  --stats-bg-color: #fff;
  --stats-box-shadow: 1px 0 5px 1px lightgray;
  --stats-border-color: #dcdcdc;

  --tx-bg-color-primary: #fff;
  --tx-bg-color-secondary: #fff;
  --tx-border-color: #dcdcdc;

  --clipboard-bg-color: #f5f5f5;
  --clipboard-tooltip-bg-color: #15181C;
  --clipboard-tooltop-text-color: #fff;

  --svg-fill-color: #000;

  --link-bg-color: #f5f5f5;
  --link-box-shadow: 1px 1px 1px lightgray;

  --border-color: #e0e0e0;

    --abstract-linear-gradient: linear-gradient(135deg, #eff6ff 0%, #dbeafe 100%);
}
