.BlockDetailsPage {
  margin-top: 40px;
}

.title {
  font-weight: 500;
}

.blockLinks {
  margin-top: 30px;
  width: 100%;
}

.statsTable {
  margin-top: 50px;
  box-shadow: var(--stats-box-shadow);
  padding: 30px;
  border-radius: 8px;
  color: var(--text-color-primary);
  background-color: var(--stats-bg-color);
}

.statsTable button {
  align-self: flex-end;
  padding-left: 25px;
}

.expended {
  transform: rotate(180deg);
}

.statsTableItem {
  width: 100%;
  border-top: 1px solid var(--stats-border-color);
  height: 52px;
  font-size: 16px;
}

.statsTableItem span:last-child {
  word-break: break-word;
  text-align: right;
}

.statsTableItem span:first-child {
  text-transform: uppercase;
  color: var(--text-color-secondary);
  width: auto;
}

.statsTableItem a {
  color: var(--link-color);
  text-decoration: none;
}
