.TxVout {
    background-color: var(--tx-bg-color-secondary);
    border: 1px solid var(--tx-border-color);
    border-radius: 5px;
    min-height: 46px;
    line-height: 20px;
    font-size: 13px;
    word-break: break-all;
}

.header {
    padding: 12px 24px 12px 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 46px;
}

.header a {
    color: var(--link-color);
    text-decoration: none;
}

.index {
    color: #c3cbd3;
    font-size: 0.9em;
    white-space: nowrap;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media only screen and (max-width: 550px) {
        flex-direction: column;
    }
}

.wrapper .amount {
    @media only screen and (max-width: 550px) {
        margin-left: 0;
    }
}

.amount {
    white-space: nowrap;
    font-size: 13px;
    margin-left: auto;
}

.voutBody {
    padding: 30px 24px
}

.voutBodyRow {
    display: flex;
    width: 100%;

    @media only screen and (max-width: 850px) {
        flex-direction: column;
    }
}

.voutBodyRow div:first-child {
    min-width: 50%;
    text-transform: uppercase;
    color: var(--text-color-secondary);
    font-weight: 600;
}

.voutBodyRow div:not(:first-child) {
    font-family: var(--font-family-secondary);
    font-size: 13px;
    color: var(--text-color-primary);
}

.voutBodyRow a {
    color: var(--link-color);
    text-decoration: none;
}
